<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
<footer class="footer">
  <div class="container" style="width: 1400px;">
    <div class="footer-row ">

      <!-- Cột 1: Logo + info -->
      <div class="col-xs-12 col-sm-6 col-lg footer-col" style="margin-top: -50px;">
        <div class="footer-logos">
          <a href=""><img src="https://file.hstatic.net/1000402464/file/jh.png" style="height: 80px;" alt="John Henry" class="footer-logo"></a>
          <a href=""><img src="https://brandlogos.net/wp-content/uploads/2017/01/freelancer-logo.png" style="height: 120px;" alt="John Henry" class="footer-logo"></a>
        </div>
        <ul class="footer-contact">
          <li><i class="fa-solid fa-house-chimney"></i> Công ty TNHH T.M.G</li>
          <li><i class="fa-solid fa-location-pin"></i></i> 172 Nguyễn Trãi, P.Bến Thành, Q1, HCM</li>
          <li><i class="fa-solid fa-phone"></i> 0914 516 446 – 0906 954 368</li>
          <li><i class="fa-solid fa-envelope"></i> cskh@viet-styles.com</li>
        </ul>
        <img src="https://webmedia.com.vn/images/2021/09/logo-da-thong-bao-bo-cong-thuong-mau-xanh.png" alt="Bộ Công Thương" class="footer-cert" style="width: 150px;">
      </div>

      <!-- Cột 2: Công ty -->
      <div class="col-xs-6 col-sm-6 col-lg-3 footer-div">
        <h4>CÔNG TY</h4>
        <ul class="footer-list" style="padding-top: 30px;">
          <li><a href="#" class="footer-link">Về chúng tôi</a></li>
          <li><a href="#" class="footer-link">Xu hướng</a></li>
          <li><a href="#" class="footer-link">Liên hệ</a></li>
          <li><a href="#" class="footer-link">Tuyển dụng</a></li>
          <li><a href="#" class="footer-link">Theo dõi đơn hàng</a></li>
          <li><a href="#" class="footer-link">Nhượng quyền</a></li>
          <li><a href="#" class="footer-link">Ưu đãi VIP member</a></li>
        </ul>
      </div>

      <!-- Cột 3: Chính sách -->
      <div class="col-xs-6 col-sm-6 col-lg-3 footer-div">
        <h4>CHÍNH SÁCH</h4>
        <ul class="footer-list" style="padding-top: 30px;">
          <li><a href="#" class="footer-link">Đăng ký thành viên</a></li>
          <li><a href="#" class="footer-link">Hướng dẫn thanh toán</a></li>
          <li><a href="#" class="footer-link">Giao hàng và phí vận chuyển</a></li>
          <li><a href="#" class="footer-link">Chính sách đổi trả</a></li>
          <li><a href="#" class="footer-link">Chính sách bảo mật</a></li>
          <li><a href="#" class="footer-link">Điều khoản và thanh toán</a></li>
        </ul>
      </div>

      <!-- Cột 4: Kết nối & thanh toán -->
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg footer-col">
        <h4>KẾT NỐI VỚI CHÚNG TÔI</h4>
        <form class="footer-subscribe">
          <input type="email" placeholder="Email" class="footer-input">
          <button type="submit" class="footer-btn"><i class="fa fa-paper-plane"></i></button>
        </form>

        <div class="social-icons">
          <div class="social-row">
          <a href="#"><img src="https://file.hstatic.net/1000402464/file/facebook_e3e340acee344ebd8bb196d37d0cef87.png" alt=""> JOHN HENRY</a>
          <a href="#"><img src="https://file.hstatic.net/1000402464/file/facebook_e3e340acee344ebd8bb196d37d0cef87.png" alt=""> FREELANCER</a>
          </div>

          <div class="social-row" style="justify-content: flex-start;">
          <a href="#"><img height="32" width="32" src="https://file.hstatic.net/1000402464/file/instagram-icon_342da7c0818048548ca152bf04b9132d.png" alt=""></a>
          <a href="#"><img height="32" width="42" src="https://file.hstatic.net/1000402464/file/youtube_logo.png" alt=""></a>
          </div>

        </div>
        <h4>PHƯƠNG THỨC THANH TOÁN</h4>
        <div class="payments">
          <a href="#"><img src="https://file.hstatic.net/1000402464/file/momo_logo_63183e1975424c0aade4b84e605ae0a2.png" alt="Momo"></a>
            <a href="#"><img src="https://file.hstatic.net/1000402464/file/vnp_322d4deedfa64e64a03900c8341c0317.png" alt="VNPay"></a>
              <a href="#"><img src="https://file.hstatic.net/1000402464/file/190815750_3840917396030038_2673811313401524838_n_6f485ceb93ef4eeeb3ae6512421291bf.png" alt="ShopeePay"></a>
        </div>
        <h4>ĐỐI TÁC VẬN CHUYỂN</h4>
        <div class="shippers">
          <a href="#"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRw0AfR3EY5akEvIFNPvhckV6vClPROJezJw&s" alt="Ninja Van"></a>
            <a href="#"><img src="https://giaohangtotnhat.vn/wp-content/uploads/2022/04/ninjavan.png" alt="Giao Hàng Nhanh"></a>
        </div>
      </div>

    </div>

    <div>
      <div class="col-12">
        <p class="footer-copy">© 2025 My Shop. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
